 <!-- projects.html -->

    {% extends 'portfolio/layout.html' %}

    {% block main %}
    <div class="projects">
        {% for project in projects %}
        <div class="project">
            <h2 class="title">{{ project.title }}</h2>
            <div class="projectcontent">
                <div class="projecttext">
                    <p class="subject">Realizado no âmbito de <a href="">{{ project.subject.name }}</a> em {{ project.year }}</p>
                    <p class="description">{{ project.description }}</p>
                </div>
                <img src="{{ project.image }}" class="image">
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}