 <!-- webdev.html -->

    {% extends 'portfolio/layout.html' %}

    {% block main %}
    <div class="spacer"></div>
    <div class="licenciatura">
        <div class="text">
            <h1>Porogramação Web</h1>
            <p>De modo a consultar os laboratórios anteriores carregue <a href="https://a21804766-pw-lab1.herokuapp.com/">AQUI</a>.</p>
        </div>
    </div>
    <div class="educacao">
        <div class="text">
            <h1>Sobre a página</h1>
            <p>Ao longo desta página foi utilizado HTML, CSS, Python, Django e JavaScript.</p>
        </div>
    </div>
    <div class="spacer"></div>
    {% endblock %}